{% if request.path == '/' %}
  {% for i in post reversed %}
  <hr>
  <article>
    <ul>
        <li>
          Место: {{ i.location }}             
        </li>
        <li>
          Дата: {{ i.date }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' i.category %}">{{ i.category }}</a>
        </li>
      </ul>          
    <!-- Первые 10 слов -->
      <p>
        {{ i.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' i.id %}">Читать полный текст</a>
  {% endfor %}
  </article>
{% else %}
  <article>
    <ul>
      <li>
        Место: {{ post.location }}             
      </li>
      <li>
        Дата: {{ post.date }}
      </li>
      <li>
        Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
      </li>
    </ul>         
    <p>
      {{ post.text|linebreaksbr }}
    </p>          
  </article>
{% endif %}