{% extends 'base.html' %}
{% block title %}Лента записей{% endblock %}
{% block main %}
  <h1>Лента записей</h1>                        
  <!-- Перебираем в цикле все посты -->
  {% for i in post reversed %}
    <hr>
    <article>
      <ul>
          <li>
            Место: {{ i.location }}             
          </li>
          <li>
            Дата: {{ i.date }}
          </li>
          <li>
            Категория: <a href="{% url 'blog:category_posts' i.category %}">{{ i.category }}</a>
          </li>
        </ul>          
      <!-- Первые 10 слов -->
        <p>
          {{ i.text|truncatewords:10 }}
        </p>
        <a href="{% url 'blog:post_detail' i.id %}">Читать полный текст</a>
  {% endfor %}
  </article>
{% endblock %}
